<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-button>
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-button>
      <ion-icon name="walk-outline" slot="end"></ion-icon>
      <ion-title>Demo Request</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary" ></ion-spinner>
        </div>
        <div *ngIf="!isLoading && demoRequests.length<=0" class="ion-text-center">
          <p>Data not found! please create one first!</p>
        </div>
        <ion-list *ngIf="!isLoading && demoRequests.length>0">
          <ion-item-sliding *ngFor="let req of demoRequests ; let i = index" #slider>
          <ion-item [ngClass]="i%2==0?'even':'odd'" detail  [routerLink]="['/','salespipeline','demodetail',req.docId]" >
           <div>
            <div>
              <div class="container">
                <div class="image">
                  <ion-icon name="file-tray-stacked" style="font-size: 35px;padding-top: 5px;color: #664500 !important;"></ion-icon>
                </div>
                <div class="text">
                  {{req.orgName}}
                </div>
              </div>
              <h6>Request Id: {{req.srNo}}</h6>
              <h6>Request Status: {{req.reqStatus}}</h6>
              <div *ngIf="req.reqStatus=='Approved' || req.reqStatus=='Rejected'">
                <h6>Comment: {{req.approverComment}}</h6>
                <h6>User: {{req.reqStatus}} by {{req.approverUserName}}</h6>
                <h6>Date: {{getDateTime(req.approverDate)| date:'medium'}}</h6>
              </div>
              <h6>Location: {{req.addLocation}}</h6>
              <h6>Demo Date: {{getDate(req.dateDemo)}}</h6>
            </div>
           </div>
           <hr/>
          </ion-item>
          <ion-item text-wrap>
            <ion-button (click)="req.satSEZ=='Yes'?sezChallan(req,0):nonsezChallan(req,0)"> Material Challan</ion-button>
            <ion-button (click)="req.satSEZ=='Yes'?sezChallan(req,1):nonsezChallan(req,1)">Machine Challan</ion-button>
          </ion-item>
          <ion-item>
            <ion-button color="success" [hidden]="!(req.reqStatus=='Demo Request Created' || req.reqStatus=='Rejected'?true:false)" (click)="sendForApproval(req)">
              <ion-icon name="arrow-forward-circle-outline" slot="icon-only"></ion-icon> Send for Approval
            </ion-button>
            <div [hidden]="!(req.reqStatus=='Sent for Approval' && userRoles.indexOf('Demo Requisition Approver')>=0)?true:false">
              <ion-item>
               <ion-label position="floating" class="label">Comment</ion-label>
               <ion-textarea #commentText></ion-textarea>
              </ion-item>
               <ion-button color="success"  (click)="onApprove(req,commentText)">
                 <ion-icon name="checkmark-circle-outline" slot="icon-only"></ion-icon> Approve
               </ion-button>
               <ion-button color="danger" (click)="onReject(req,commentText)">
                 <ion-icon name="close-circle-outline" slot="icon-only"  ></ion-icon> Reject
               </ion-button>
             </div>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="secondary">
              <ion-icon name="create" slot="icon-only"  (click)="onEdit(req.docId,req.reqStatus,slider)"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="onDelete(req.docId,req.reqStatus,slider)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
