<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-button>
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-button>
      <ion-icon name="analytics" slot="end"></ion-icon>
      <ion-title>Demo Request</ion-title>
      <ion-buttons slot="primary">
        <ion-button [routerLink]="['/','salespipeline','new']">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary" ></ion-spinner>
        </div>
        <div *ngIf="!isLoading && demoRequests.length<=0" class="ion-text-center">
          <p>Data not found! please create one first!</p>
          <ion-button color="primary" routerLink="/salespipeline/new">Add Entry</ion-button>
        </div>
        <ion-list *ngIf="!isLoading && demoRequests.length>0">
          <ion-item-sliding *ngFor="let req of demoRequests ; let i = index" #slidingClients>
          <ion-item [ngClass]="i%2==0?'even':'odd'" detail  [routerLink]="['/','salespipeline','demodetail',req.docId]" >
           <div>
            <div>
              <div class="container">
                <div class="image">
                  <ion-icon name="file-tray-stacked" style="font-size: 35px;padding-top: 5px;color: #664500 !important;"></ion-icon>
                </div>
                <div class="text">
                  {{req.orgName}}
                </div>
              </div>
              <h6>Request Id: {{req.id}}</h6>
              <h6>Request Status: {{req.reqStatus}}</h6>
              <h6>Location: {{req.addLocation}}</h6>

            </div>
           </div>
           <hr/>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="secondary">
              <ion-icon name="create" slot="icon-only"  [routerLink]="['/','salespipeline','edit',req.docId]"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
