<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title></ion-title>
      <!-- <ion-button  [routerLink]="['/','salespipeline','edit',salesId]">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Organization</span>
          <ion-item>
            <ion-input type="text" autocomplete autocorrect placeholder="Client Name" formControlName="orgName"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Client Status</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="orgStatus"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Address of the Organization</span>
          <ion-item>
            <ion-input type="text" autocomplete autocorrect placeholder="Address"  formControlName="address"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Location</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="addLocation"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Pin Code</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="addPincode"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">State</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="addState"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Billing Address of the Organization</span>
          <ion-item>
            <ion-input type="text" autocomplete autocorrect placeholder  formControlName="billAddress"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Location</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="billLocation"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Pin Code</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="billPincode"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">State</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="billState"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Delivery Address with land mark</span>
          <ion-item>
            <ion-input type="text" autocomplete autocorrect placeholder formControlName="delAddress" ></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Location</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="delLocation"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Pin Code</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="delPincode"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">State</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="delState"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Contact Details</span>
          <ion-item>
            <ion-input type="text" autocomplete autocorrect placeholder formControlName="conName" ></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Mobile No</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="conMobile"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Land Line</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="conLandline"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Email</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="conEmail"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Reference</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="conRef"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Machine detail</span>
          <ion-item>
            <ion-input type="text" autocomplete autocorrect placeholder="Model"  formControlName="mchModel"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">No.of Machine
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="mchNoMachine"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Type</ion-label>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="mchType">
            <ion-select-option value="New">New</ion-select-option>
            <ion-select-option value="Second Hand">Second Hand</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Accessories</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Installation/Demo Kit</ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="accInstallation">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Other Accessories</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="accOther"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Terms of Installation</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Installation
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="installation">
              <ion-select-option value="Out-Right">Out-Right</ion-select-option>
              <ion-select-option value="Rental">Rental</ion-select-option>
              <ion-select-option value="Free">Free</ion-select-option>
              <ion-select-option value="Replacement">Replacement</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Demo</ion-label>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="instDemo">
            <ion-select-option value="Free">Free</ion-select-option>
            <ion-select-option value="Chargeble">Chargeble</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Rate Per Machine</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Rate
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="rate"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">GST</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="rategst"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Total Amount
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="rateamount"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Rent</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="rentTerm">
              <ion-select-option value="Monthly">Monthly</ion-select-option>
              <ion-select-option value="Quarterly">Quarterly</ion-select-option>
              <ion-select-option value="Yearly">Yearly</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Rate per month</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="rentRateMonth"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Deposit</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Applicable
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="rentamount">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Amount</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="depApplicable"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Payment</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="payTerms">
              <ion-select-option value="Advance">Advance</ion-select-option>
              <ion-select-option value="On Delivery">On Delivery</ion-select-option>
              <ion-select-option value="On Installation">On Installation</ion-select-option>
              <ion-select-option value="On Credit">On Credit</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Credit Period (days)</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="payCreditPeriod"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Credit Limit
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="payCreditLimit"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Model</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="payModel"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Minimum Commitment</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Applicable
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="comApplicable">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Quantity</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="comQuantity"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="comTerm"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Date</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Date of Delivery
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="dateDelivery"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Date of Installation</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="dateInstallation"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Date of Demo
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="dateDemo"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">No of Days for Demo
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="dateNoDays"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Date of Pickup
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="datePickup"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Delivery as per
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="dateDeliveryAsPer">
              <ion-select-option value="Schedule">Schedule</ion-select-option>
              <ion-select-option value="Special">Special</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Delivery Chargeble
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="dateDeliveryCharge">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Statutory Detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">PAN No
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="satPANNo"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">GST No</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="satGSTNo"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">SEZ
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="satSEZ"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Bank Details</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">A/c Name
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="bankAccName"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Address(Optioal)</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="bankAddress"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Account No.
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="bankAccNo"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Branch
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="bankBranch"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">IFSC Code
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="bankIFSCCode"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Requirement of Installation</span>
          <ion-input type="text" autocomplete autocorrect placeholder='instaRequirement'  formControlName="orgName"></ion-input>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Consumption</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">No.Employee
            </ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="cnsNoEmp"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">No.of Cups /day</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="cnsNoCups"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Manpower Requirement</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Applicable
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="manApplicable">
              <ion-select-option value="Yes">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">No.of Manpower</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="manNoOfManpower"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>

			 <ion-select placeholder="Select One"  interface="popover"  formControlName="manTerms">
        <ion-select-option value="Free">Free</ion-select-option>
        <ion-select-option value="Chargeble">Chargeble</ion-select-option>
      </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Rate+Tax App.</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="manRateTax"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Material Supply detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Delivery</ion-label>

			 <ion-select placeholder="Select One"  interface="popover"  formControlName="matDelivery">
        <ion-select-option value="Weekly">Weekly</ion-select-option>
        <ion-select-option value="Fortnightly">Fortnightly</ion-select-option>
        <ion-select-option value="Monthly">Monthly</ion-select-option>
      </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Billing</ion-label>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="matBilling">
            <ion-select-option value="Regular">Regular</ion-select-option>
            <ion-select-option value="Monthly">Monthly</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Types of Billing</ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="matBillType">
              <ion-select-option value="Supply Basis">Supply Basis</ion-select-option>
              <ion-select-option value="PerCup Basis">PerCup Basis</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Statutory</ion-label>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="matStatutory">
            <ion-select-option value="IGST">IGST</ion-select-option>
            <ion-select-option value="CGST+SGST">CGST+SGST</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Bill Submission & Compliance</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Type of Bill Preparation</ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="subBillType">
              <ion-select-option value="PAN India 1 Bill">PAN India 1 Bill</ion-select-option>
              <ion-select-option value="Location wise">Location wise</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Submission @</ion-label>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="submission">
            <ion-select-option value="HO">HO</ion-select-option>
            <ion-select-option value="Billing Location">Billing Location</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Method of Submission</ion-label>
            <ion-select placeholder="Select One"  interface="popover"  formControlName="subMethod">
              <ion-select-option value="Hardcopy">Hardcopy</ion-select-option>
              <ion-select-option value="Softcopy">Softcopy</ion-select-option>
              <ion-select-option value="Upload in portal">Upload in portal</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Documents to submit</ion-label>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="subDocs">
            <ion-select-option value="Material Bill">Material Bill</ion-select-option>
            <ion-select-option value="Manpower Bill">Manpower Bill</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Due date of bill submission</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="subDueDate"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Out Put Settings</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">ML</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="outML"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Grammage</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="outGrammage"></ion-input>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Billing Branch</span>
          <ion-select placeholder="Select One"  interface="popover"  formControlName="billBranch">
            <ion-select-option value="Maharashtra">Maharashtra</ion-select-option>
            <ion-select-option value="Karnataka">Karnataka</ion-select-option>
            <ion-select-option value="TN">TN</ion-select-option>
            <ion-select-option value="Telangana">Telangana</ion-select-option>
            <ion-select-option value="Gujarat">Gujarat</ion-select-option>
            <ion-select-option value="UP">UP</ion-select-option>
            <ion-select-option value="WB">WB</ion-select-option>
            </ion-select>
      </ion-col>
      </ion-row>
    </div>



    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Material</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">XTC Coffee Beans</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detXTCoffeeQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detXTCoffeeUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detXTCoffeeRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Sugar medium</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detSugarQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detSugarUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detSugarRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Plain Tea Bags</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detTeaBagsQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detTeaBagsUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detTeaBagsRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Tea Blend</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detTeaBlendQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detTeaBlendUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detTeaBlendRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Filter Coffee</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detFilCoffeeQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detFilCoffeeUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detFilCoffeeRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Stirrer</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detStirrerQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detStirrerUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detStirrerRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Paper Cups (110 ML Printed)</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-input type="text" autocomplete autocorrect  formControlName="detPaperCupsQty"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-input type="text" autocomplete autocorrect  formControlName="detPaperCupsUOM"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-input type="text" autocomplete autocorrect  formControlName="detPaperCupsRate"></ion-input>
      </ion-item>
  </ion-col>
      </ion-row>

    </div>



    </ion-grid>
  </form>
</ion-content>
