<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline/demorequests">
      </ion-back-button>
      <ion-title>Edit Demo Req. Form</ion-title>
      <ion-button (click)="editDemoRequest()"  [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Organization</span><span style="color: #FF6347;">*</span>
            <ion-item>
              <ion-input type="text" autocomplete autocorrect placeholder="Client Name" formControlName="orgName">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('orgName').valid && form.get('orgName').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Client name should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Client Status</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="orgStatus"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Statutory Detail</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Tax Type
            </ion-label>
            <ion-select placeholder="Select One"  interface="popover" formControlName="taxType">
              <ion-select-option [value]="CGSTSGST">CGST/SGST</ion-select-option>
                <ion-select-option [value]="IGST">IGST
              </ion-select-option>
              </ion-select>

              <!-- <ion-select placeholder="Select One" interface="popover" formControlName="satSEZ">
                <ion-select-option value="Yes">Yes</ion-select-option>
                <ion-select-option value="No">No</ion-select-option>
              </ion-select> -->

          </ion-item>
          </ion-col>
          </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">GST No</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="satGSTNo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">SEZ
              </ion-label>
              <ion-select placeholder="Select One" interface="popover" formControlName="satSEZ">
                <ion-select-option value="Yes">Yes</ion-select-option>
                <ion-select-option value="No">No</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('satSEZ').valid && form.get('satSEZ').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Please select SEZ/Non SEZ.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Branch
              </ion-label>
              <ion-select placeholder="Select One" interface="popover" formControlName="satBranch">
                <ion-select-option *ngFor="let branch of branches" [value]="branch.name">{{branch.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('satBranch').valid && form.get('satBranch').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Please select brach for challan address.</p>
          </ion-col>
        </ion-row>

      </div>


      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Address of the Demonstration</span><span style="color: #FF6347;">*</span>
            <ion-item>
              <ion-input type="text" autocomplete autocorrect placeholder="Address" formControlName="address">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('address').valid && form.get('address').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Address should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Location<span style="color: #FF6347;">*</span></ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="addLocation"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Pin Code<span style="color: #FF6347;">*</span></ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="addPincode"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('addLocation').valid && form.get('addLocation').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Location should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('addPincode').valid && form.get('addPincode').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Pincode should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">State<span style="color: #FF6347;">*</span></ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="addState"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('addState').valid && form.get('addState').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">State should not be empty.</p>
          </ion-col>
        </ion-row>
      </div>


      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Contact Person</span><span style="color: #FF6347;">*</span>
            <ion-item>
              <ion-input type="text" autocomplete autocorrect placeholder formControlName="conName" placeholder='Name'>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('conName').valid && form.get('conName').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Contact Person should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Mobile No<span style="color: #FF6347;">*</span></ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="conMobile"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('conMobile').valid && form.get('conMobile').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Mobile number should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Email</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="conEmail"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Machine detail</span><span style="color: #FF6347;">*</span>
          </ion-col>
        </ion-row>
        <div *ngFor="let item of form.get('machineDetails')['controls']; let i = index;" formArrayName="machineDetails">
          <div [formGroupName]="i">
            <ion-row>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Machine
                      </ion-label>
                      <ion-select placeholder="Select One"  interface="popover" formControlName="machineName" (ionChange)="onMachineChange($event,form.get('machineDetails')['controls'][i])">
                        <ion-select-option *ngFor="let machine of machines" [value]="machine">{{machine}}
                        </ion-select-option>
                        </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Type
                      </ion-label>
                      <ion-select placeholder="Select One"  interface="popover" formControlName="machineType">
                        <ion-select-option *ngFor="let machine of machineType" [value]="machine">{{machine}}
                        </ion-select-option>
                        </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Category
                      </ion-label>
                      <ion-select placeholder="Select One"  interface="popover" formControlName="volumeType">
                        <ion-select-option *ngFor="let machine of machineCategory" [value]="machine">{{machine}}
                        </ion-select-option>
                        </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">No.of Machine
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="machineCount"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Machine Serial Number
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="machinesrno"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="2">
                <div style="height: 95%; border-left:2px solid #FF69B4">
                  <ion-button size="small" class=" button-assertive button-clear" style="margin-top: 75px;"
                    (click)="deleteMachine(i)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <ion-row>
          <ion-col size="12">
            <ion-button size="small" (click)="addMachine()">
              <ion-icon name="add-circle"></ion-icon> Add Machine
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Accessories</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Installation/Demo Kit</ion-label>
              <ion-select placeholder="Select One"  interface="popover" formControlName="accInstallation" multiple>
                <ion-select-option *ngFor="let kit of installkititems" [value]="kit">{{kit}}
                </ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Other Accessories</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="accOther"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>


      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Terms of Installation</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Demo</ion-label>
              <ion-select placeholder="Select One" interface="popover" formControlName="instDemo">
                <ion-select-option value="Free">Free</ion-select-option>
                <ion-select-option value="Chargeble">Chargeble</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>


      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Date</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Date of Delivery<span style="color: #FF6347;">*</span>
              </ion-label>
              <ion-datetime formControlName="dateDelivery" display-format="MMM DD YYYY" picker-format="YY MMM DD">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('dateDelivery').valid && form.get('dateDelivery').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Date of Delivery should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Start Date of Demo<span style="color: #FF6347;">*</span>
              </ion-label>
              <ion-datetime formControlName="dateDemo" display-format="MMM DD YYYY" picker-format="YY MMM DD">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('dateDemo').valid && form.get('dateDemo').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Start Date of Demo should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">End Date of Demo<span style="color: #FF6347;">*</span>
              </ion-label>
              <ion-datetime formControlName="dateEndDemo" display-format="MMM DD YYYY" picker-format="YY MMM DD">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('dateEndDemo').valid && form.get('dateEndDemo').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">End Date of Demo should not be empty.</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">Date of Pickup<span style="color: #FF6347;">*</span>
              </ion-label>
              <ion-datetime formControlName="datePickup" display-format="MMM DD YYYY" picker-format="YY MMM DD">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('datePickup').valid && form.get('datePickup').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p style="font-size: small;color:#FF6347">Date of Pickup should not be empty.</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Details of Consumption</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">No.Employee
              </ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="cnsNoEmp"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label position="floating" class="label">No.of Cups /day</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="cnsNoCups"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div class="section">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <span style="font-size:13px">Details of Material</span><span style="color: #FF6347;">*</span>
          </ion-col>
        </ion-row>
        <div *ngFor="let item of form.get('materialDetails')['controls']; let i = index;"
          formArrayName="materialDetails">
          <div [formGroupName]="i">
            <ion-row>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Material
                      </ion-label>
                      <ion-select placeholder="Select One"  interface="popover" formControlName="category" (ionChange)="onMaterialChange($event,form.get('materialDetails')['controls'][i])">
                        <ion-select-option *ngFor="let stock of stockCategory" [value]="stock">{{stock}}
                        </ion-select-option>
                        </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col  size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Type
                      </ion-label>
                      <ion-select placeholder="Select One"  interface="popover" formControlName="item" (ionChange)="onMaterialTypeChange($event,form.get('materialDetails')['controls'][i])">
                        <ion-select-option *ngFor="let stock of stockType" [value]="stock">{{stock}}
                        </ion-select-option>
                        </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item color="success">
                      <ion-label position="floating" class="label"  style="color: #fff;">UOM
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="uom" readonly></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item  color="success">
                      <ion-label position="floating" class="label"  style="color: #fff;">HSNCode
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="hsnNo" readonly></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <ion-item  color="success">
                      <ion-label position="floating" class="label" style="color: #fff;">GST
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="gst"
                      [value]="item.get('gst').value"
                      readonly></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col  size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Qty
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="qty"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col  size="12">
                    <ion-item>
                      <ion-label position="floating" class="label">Rate (* Applicable for SEZ)
                      </ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="rate"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>


              <ion-col size="2">
                <div style="height: 95%; border-left:2px solid #FF69B4;">
                  <ion-button size="small" class=" button-assertive button-clear" style="margin-top: 75px;"
                    (click)="deleteMaterial(i)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button size="small" (click)="addMaterial()">
              <ion-icon name="add-circle"></ion-icon> Add Material
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>
