<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Edit Salespipeline</ion-title>
      <ion-button (click)="onUpdateSalespipeline()"  [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Client Group</ion-label>
            <ion-select placeholder="Select One"  interface="popover" formControlName="group" (ionChange)="onChangeGroup($event)">
              <ion-select-option *ngFor="let grp of clientGroup" [value]="grp">{{grp}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Client <span style="color: #FF6347;">*</span></ion-label>
            <ion-select placeholder="Select One"  interface="popover" formControlName="client">
              <ion-select-option *ngFor="let client of loadedClients" [value]="client.id">{{client.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('client').valid && form.get('client').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>Client must not be empty.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" >Comment<span style="color: #FF6347;">*</span></ion-label>
            <ion-textarea row="3" formControlName="comments"></ion-textarea>
          </ion-item>

          <ion-item color="success">
            <p>Amount : </p>
            <ion-input type="number" formControlName="amount"  readonly ></ion-input>
          </ion-item>
          <ion-item style="display: none;">
            <ion-input type="number" formControlName="billingAmount" readonly></ion-input>
            <ion-input type="number" formControlName="machineCount" readonly></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>


      <ion-card class="card-tab" style="background:#3F51B5" *ngFor="let item of form.get('dataEntry')['controls']; let i = index;">
        <ion-card-content class="card-content">
        <ion-row  formArrayName="dataEntry">
          <ion-col size-sm="6" offset-sm="3" style="margin-inline:0px">
            <div [formGroupName]="i">
              <div id="container">
                <div class="center"><ion-label style="color: #fff;padding-right: 70px;">Location Detail</ion-label></div>
                <div class="right"><button class="close-icon-info" (click)="deleteLocatios(i)"></button></div>
              </div>
              <ion-input style="display:none;"  value="Readonly" readonly formControlName="id"></ion-input>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" >City<span style="color: #FF6347;">*</span></ion-label>
                    <ion-input formControlName="city"></ion-input>
                  </ion-item>
              </ion-col>
              </ion-row>
              <ion-row *ngIf="!form.get('dataEntry')['controls'][i].get('city').valid && form.get('dataEntry')['controls'][i].get('city').touched">
                <ion-col size-sm="6" offset-sm="3">
                  <p class="error-label">City should not be empty.</p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" >Account Managed By <span style="color: #FF6347;">*</span></ion-label>
                    <ion-select placeholder="Select One" interface="popover" formControlName="accowner">
                      <ion-select-option *ngFor="let accname of accowners" [value]="accname.name">{{accname.name}}
                      </ion-select-option>
                    </ion-select>

                  </ion-item>
              </ion-col>
              </ion-row>

              <ion-row *ngIf="!form.get('dataEntry')['controls'][i].get('accowner').valid && form.get('dataEntry')['controls'][i].get('accowner').touched">
                <ion-col size-sm="6" offset-sm="3">
                  <p class="error-label">Account Managed By should not be empty.</p>
                </ion-col>
              </ion-row>


              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" >Billing Address<span style="color: #FF6347;">*</span></ion-label>
                    <ion-textarea rows="3"  formControlName="address"></ion-textarea>
                  </ion-item>
              </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" >Installed At <span style="color: #FF6347;">*</span></ion-label>
                    <ion-input type="text" formControlName="installAt"></ion-input>
                  </ion-item>
              </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" >Installation Address <span style="color: #FF6347;">*</span></ion-label>
                    <ion-textarea rows="3"  formControlName="installAddress"></ion-textarea>
                  </ion-item>
              </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" class="label"> Deliver From Branch
                    </ion-label>
                    <ion-select placeholder="Select One" interface="popover" formControlName="branch">
                      <ion-select-option *ngFor="let branch of branches" [value]="branch.name">{{branch.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">Current Status <span style="color: #FF6347;">*</span></ion-label>
                <ion-input type="text" formControlName="hiddencurrentStatus" style="display: none;"></ion-input>
                <ion-select placeholder="Select One"  interface="popover" formControlName="currentStatus" (ionChange)="statusChange($event,form.get('dataEntry')['controls'][i],i)">
                  <ion-select-option *ngFor="let client of clientsStatus" [value]="client.status">{{client.status}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating" >Closure Date<span style="color: #FF6347;">*</span></ion-label>
                    <ion-datetime
                    formControlName="closureDate"
                    display-format="MMM DD YYYY"
                    picker-format="YY MMM DD"
                    ></ion-datetime>
                  </ion-item>

                  <ion-item color="success">
                    <p>Amount : </p>
                    <ion-input type="number" formControlName="amount"  readonly></ion-input>
                  </ion-item>
                  <ion-item style="display: none;">
                    <ion-input type="number" formControlName="billingAmount" readonly></ion-input>
                    <ion-input type="number" formControlName="machineCount" readonly></ion-input>
                  </ion-item>
              </ion-col>
              </ion-row>
              <ion-row *ngIf="!form.get('dataEntry')['controls'][i].get('address').valid && form.get('dataEntry')['controls'][i].get('address').touched">
                <ion-col size-sm="6" offset-sm="3">
                  <p class="error-label">Address should not be empty.</p>
                </ion-col>
              </ion-row>
              <div style="background: #e91e63;margin: 5px;"  *ngFor="let item of form.get('dataEntry')['controls'][i].get('machineDetails')['controls']; let j = index;">
                <ion-row  formArrayName="machineDetails">
                <ion-col size-sm="6" offset-sm="3">
                  <div [formGroupName]="j">
                      <div id="container">
                        <div class="center"><ion-label style="color: #fff;padding-right: 70px;"> <ion-icon name="chevron-forward"></ion-icon> Machine Detail</ion-label></div>
                        <div class="right"><button class="close-icon-accent" (click)="deleteMachineDetails(form.get('dataEntry')['controls'][i],j)"></button></div>
                      </div>
                      <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Machine/Material <span style="color: #FF6347;">*</span></ion-label>
                          <!-- <ion-select placeholder="Select One"  interface="popover" formControlName="machineName">
                            <ion-select-option value='Brewer'>Brewer</ion-select-option>
                            <ion-select-option value='FM'>FM</ion-select-option>
                            <ion-select-option value='B2C'>B2C</ion-select-option>
                            <ion-select-option value='PreMix'>PreMix</ion-select-option>
                            <ion-select-option value='Mtl(kg/mth)'>Mtl(kg/mth)</ion-select-option>
                          </ion-select> -->

                          <ion-select placeholder="Select One"  interface="popover" formControlName="machineName" (ionChange)="onMachineChange($event,form.get('dataEntry')['controls'][i].get('machineDetails')['controls'][j])">
                            <ion-select-option *ngFor="let machine of machines" [value]="machine">{{machine}}
                            </ion-select-option>
                            </ion-select>

                        </ion-item>
                    </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Type <span style="color: #FF6347;">*</span></ion-label>

                    <ion-select placeholder="Select One"  interface="popover" formControlName="machineType">
                      <ion-select-option *ngFor="let machine of machineType" [value]="machine">{{machine}}
                      </ion-select-option>
                      </ion-select>
                          <!-- <ion-select placeholder="Select One"  interface="popover" formControlName="machineType">
                            <ion-select-option value='Manual'>Manual</ion-select-option>
                            <ion-select-option value='Automatic'>Automatic</ion-select-option>
                          </ion-select> -->
                        </ion-item>
                    </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Category <span style="color: #FF6347;">*</span></ion-label>
                          <ion-select placeholder="Select One"  interface="popover" formControlName="volumeType">
                            <ion-select-option *ngFor="let machine of machineCategory" [value]="machine">{{machine}}
                            </ion-select-option>
                            </ion-select>
                          <!-- <ion-select placeholder="Select One"  interface="popover" formControlName="volumeType">
                            <ion-select-option value='Not Applicable'>Not Applicable</ion-select-option>
                            <ion-select-option value='2-Chamber'>2-Chamber</ion-select-option>
                            <ion-select-option value='3-Chamber'>3-Chamber</ion-select-option>
                            <ion-select-option value='4-Chamber'>4-Chamber</ion-select-option>
                            <ion-select-option value='Tea'>Tea</ion-select-option>
                            <ion-select-option value='Coffee'>Coffee</ion-select-option>
                            <ion-select-option value='Beans'>Beans</ion-select-option>
                            <ion-select-option value='5 ltr'>5 ltr</ion-select-option>
                            <ion-select-option value='10 ltr'>10 ltr</ion-select-option>
                            <ion-select-option value='20 ltr'>20 ltr</ion-select-option>
                          </ion-select> -->
                        </ion-item>
                    </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Machine Count <span style="color: #FF6347;">*</span></ion-label>
                          <ion-input type="number" formControlName="machineCount"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Machine Serial No <span style="color: #FF6347;">*</span></ion-label>
                          <ion-input type="text" formControlName="machineSrNo"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Machine HSNCode <span style="color: #FF6347;">*</span></ion-label>
                          <ion-input type="text" formControlName="machinehsncode"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Rate <span style="color: #FF6347;">*</span></ion-label>
                          <ion-input type="number" formControlName="rate"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating" >Confidance Level % <span style="color: #FF6347;">*</span></ion-label>
                          <ion-input type="number" formControlName="conflevel"></ion-input>
                        </ion-item>
                        <ion-item color="success">
                          <p>Amount : </p>
                          <ion-input type="number" formControlName="amount"  readonly></ion-input>
                        </ion-item>
                        <ion-item style="display: none;">
                          <ion-input type="number" formControlName="billingAmount" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Machine Rent <span style="color: #FF6347;">(if Applicable)*</span></ion-label>
                          <ion-input type="text" formControlName="mchRent"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Consumable CAP <span style="color: #FF6347;">(if Applicable)*</span></ion-label>
                          <ion-input type="text" formControlName="consumableCap"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row style="display: none;">
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Installation Charges<span style="color: #FF6347;">(if Applicable)*</span></ion-label>
                          <ion-input type="text" formControlName="mchInstCharges"></ion-input>
                        </ion-item>
                        <ion-item style="display: none;">
                          <ion-input type="text" formControlName="isInstChargesConsider" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          <ion-label position="floating" >Security Deposite<span style="color: #FF6347;">(if Applicable)*</span></ion-label>
                          <ion-input type="text" formControlName="mchSecDeposite"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating" >Pullout Date<span style="color: #FF6347;">*</span></ion-label>
                      <ion-datetime
                      formControlName="pulloutDate"
                      display-format="MMM DD YYYY"
                      picker-format="YY MMM DD"
                      ></ion-datetime>
                    </ion-item>
                  </ion-col>
                </ion-row>

                  </div>
                  </ion-col>
              </ion-row>
              </div>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-button (click)="addMachineDetails(form.get('dataEntry')['controls'][i])" color="warning"><ion-icon name="add" slot="icon-only"></ion-icon> Add Machine </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button (click)="addLocations()">  <ion-icon name="add" slot="icon-only"></ion-icon> Add Location</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
</form>
</ion-content>


