<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-button>
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-button>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Rental Invoice </ion-title>
      <!-- <ion-button (click)="invoiceSelect()">
        <ion-icon name="contract-outline" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-buttons>

    <ion-item  *ngIf="!isLoading">
      <ion-label>Invoice Month</ion-label>
      <ion-select placeholder="Select Invoice Month"  interface="popover" [formControl]="_invoiceMonth" (ionChange)="onChangeMonth($event)">
        <ion-select-option   *ngFor="let m of invoiceMonth" [value]="m.id">{{m.displaymonth}}
        </ion-select-option>
      </ion-select>
      </ion-item>


    <!-- <ion-searchbar placeholder="Filter Clients / Invoice month" #searchElement  (ionChange)="onFilterUpdate($event)"></ion-searchbar> -->
    <!-- <ion-item color="success">
     <span>Amount: ₹{{invoiceAmount |  number:'1.0':'en-US'  }}</span> ||
     <span>Tax: ₹{{invoiceTax |  number:'1.0':'en-US'  }}</span> ||
     <span> Total: ₹{{invoiceTotal |  number:'1.0':'en-US'  }} </span>  ||
     <span> Count: {{ invoiceCount}} </span>
    </ion-item> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="sales.length>0">
          <ion-item *ngFor="let sale of sales ; let i = index">
            <div>
              <ion-label text-wrap>Client :{{sale.client}}</ion-label>
              <div *ngFor="let loc of sale.locations ; let j = index">
              <ion-item>
                <ion-row>
                  <ion-col>
                    <ion-label>Location :{{loc.city}}</ion-label>
                  </ion-col>
                  <ion-col [style.visibility]="loc.invExist ? 'visible' : 'hidden'">
                    <button  style="color: #000033;border:none!important; outline:none!important;background: #5cb85c;padding:5px;text-align: right;color:#fff" (click)="generateInvoice(loc.rentalInvoice)">Vew</button>
                    <button  style="color: #000033;border:none!important; outline:none!important;background: #5cb85c;padding:5px;text-align: right;color:#fff" (click)="updateInvoice(loc.rentalInvoice,sale.id)">Update</button>

                  </ion-col>
                  <ion-col [style.visibility]="!loc.invExist ? 'visible' : 'hidden'">
                    <button  style="color: #000033;border:none!important; outline:none!important;background: #0275d8;padding:5px;text-align: right;color:#fff" (click)="createInvoice(loc,sale,loc.rentalInvoice)">Create</button>
                  </ion-col>
                </ion-row>
              </ion-item>
              </div>
            </div>
          </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
