<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Demo Requisition Form</ion-title>
      <ion-button [routerLink]="['/','salespipeline','editdemorequest',demoId]"  [disabled]="!isLoading && !(demoRequest.reqStatus=='Demo Request Created' || demoRequest.reqStatus=='Rejected'?true:false)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid *ngIf="!isLoading">
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Organization</span>
          <ion-item>
            <h6 class="label">Client : </h6>
            <h6>{{demoRequest.orgName}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6 class="label">Client Status : </h6>
            <h6>{{demoRequest.orgStatus}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Address of the Organization</span>
          <ion-item>
            <ion-label>{{demoRequest.address}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6 class="label">Location:</h6>
            <h6>{{demoRequest.addLocation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6 class="label">Pin Code : </h6>
          <h6>{{demoRequest.addPincode}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">State : </h6>
            <h6>{{demoRequest.addState}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Contact Details</span>
          <ion-item>
            <h6>{{demoRequest.conName}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Mobile No : </h6>
            <h6>{{demoRequest.conMobile}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Email : </h6>
            <h6>{{demoRequest.conEmail}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Machine Details</span>
          <div *ngFor="let item of demoRequest.machineDetails">
            <div style="border: 1px solid #A04000;">
          <ion-item>
            <h6 class="label">Machine: </h6>
            <h6>{{item['machineName']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Type:</h6>
            <h6> {{item['machineType']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Category:</h6>
            <h6>{{item['volumeType']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Count:</h6>
            <h6>{{item['machineCount']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Serial No:</h6>
            <h6>{{item['machinesrno']}}</h6>
          </ion-item>
        </div>
        </div>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Accessories</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Installation/Demo Kit : </h6>
            <h6>{{demoRequest.accInstallation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Other Accessories : </h6>
          <h6>{{demoRequest.accOther}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Terms of Installation</span>
      </ion-col>
      </ion-row>
      <ion-row>

      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Demo : </h6>
          <h6>{{demoRequest.instDemo}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Date</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Date of Delivery : </h6>
            <h6>{{getDate(demoRequest.dateDelivery)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Start Date of Demo : </h6>
            <h6>{{getDate(demoRequest.dateDemo)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">End Date of Demo : </h6>
            <h6>{{getDate(demoRequest.dateEndDemo)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Date of Pickup : </h6>
            <h6>{{getDate(demoRequest.datePickup)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Statutory Detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Tax Type : </h6>
            <h6>{{demoRequest.taxType}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">GST No : </h6>
            <h6>{{demoRequest.satGSTNo}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">SEZ : </h6>
            <h6>{{demoRequest.satSEZ}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Branch : </h6>
            <h6>{{demoRequest.satBranch}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Consumption</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">No.Employee :
            </h6>
            <h6>{{demoRequest.cnsNoEmp}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">No.of Cups /day : </h6>
          <h6>{{demoRequest.cnsNoCups}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Material Details</span>
          <div *ngFor="let item of demoRequest.materialDetails">
            <div style="border: 1px solid #A04000;">
          <ion-item>
            <h6 class="label">Category:</h6>
            <h6> {{item['category']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Type:</h6>
            <h6>{{item['item']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">UOM:</h6>
            <h6> {{item['uom']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">HSNNo:</h6>
            <h6>{{item['hsnNo']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">GST:</h6>
            <h6>{{item['gst']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Qty:</h6>
            <h6>{{item['qty']}}</h6>
          </ion-item>
          <ion-item>
            <h6 class="label">Rate (Applicable for SEZ only):</h6>
            <h6>{{item['rate']}}</h6>
          </ion-item>
        </div>
        </div>
      </ion-col>
      </ion-row>
    </div>

    </ion-grid>

</ion-content>
