<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Demo Requisition Form</ion-title>
      <ion-button [routerLink]="['/','salespipeline','editdemorequest',demoId]"  [disabled]="!isLoading && !(demoRequest.reqStatus=='Demo Request Created' || demoRequest.reqStatus=='Rejected'?true:false)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid *ngIf="!isLoading">
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Organization</span>
          <ion-item>
            <h6 class="label">Client : </h6>
            <h6>{{demoRequest.orgName}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6 class="label">Client Status : </h6>
            <h6>{{demoRequest.orgStatus}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Address of the Organization</span>
          <ion-item>
            <ion-label>{{demoRequest.address}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6 class="label">Location:</h6>
            <h6>{{demoRequest.addLocation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6 class="label">Pin Code : </h6>
          <h6>{{demoRequest.addPincode}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">State : </h6>
            <h6>{{demoRequest.addState}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Billing Address of the Organization</span>
          <ion-item>
            <h6>{{demoRequest.billAddress}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Location : </h6>
            <h6>{{demoRequest.billLocation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Pin Code : </h6>
          <h6>{{demoRequest.billPincode}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">State : </h6>
            <h6>{{demoRequest.billState}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Delivery Address with land mark</span>
          <ion-item>
            <h6>{{demoRequest.delAddress}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Location : </h6>
            <h6>{{demoRequest.delLocation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Pin Code : </h6>
          <h6>{{demoRequest.delPincode}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">State : </h6>
            <h6>{{demoRequest.delState}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Contact Details</span>
          <ion-item>
            <h6>{{demoRequest.conName}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Mobile No : </h6>
            <h6>{{demoRequest.conMobile}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Land Line : </h6>
          <h6>{{demoRequest.conLandline}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Email : </h6>
            <h6>{{demoRequest.conEmail}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Reference : </h6>
            <h6>{{demoRequest.conRef}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Machine detail</span>
          <ion-item>
            <h6>{{demoRequest.mchModel}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">No.of Machine : </h6>
            <h6>{{demoRequest.mchNoMachine}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Type : </h6>
          <h6>{{demoRequest.mchType}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Accessories</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Installation/Demo Kit : </h6>
            <h6>{{demoRequest.accInstallation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Other Accessories : </h6>
          <h6>{{demoRequest.accOther}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Terms of Installation</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Installation :
            </h6>
            <h6>{{demoRequest.installation}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Demo : </h6>
          <h6>{{demoRequest.instDemo}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Rate Per Machine</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Rate : </h6>
            <h6>{{demoRequest.rate}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">GST : </h6>
          <h6>{{demoRequest.rategst}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Total Amount : </h6>
            <h6>{{demoRequest.rateamount}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Rent</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Terms :
            </h6>
            <h6>{{demoRequest.rentTerm}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Rate per month : </h6>
          <h6>{{demoRequest.rentRateMonth}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Deposit</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Applicable :
            </h6>
            <h6>{{demoRequest.depApplicable}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Amount : </h6>
          <h6>{{demoRequest.depAmount}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Payment</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Terms
            </h6>
            <h6>{{demoRequest.payTerms}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Credit Period (days) : </h6>
          <h6>{{demoRequest.payCreditPeriod}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Credit Limit :
            </h6>
            <h6>{{demoRequest.payCreditLimit}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Model : </h6>
          <h6>{{demoRequest.payModel}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Minimum Commitment</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Applicable : </h6>
            <h6>{{demoRequest.comApplicable}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Quantity : </h6>
          <h6>{{demoRequest.comQuantity}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Terms : </h6>
            <h6>{{demoRequest.comTerm}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Date</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Date of Delivery : </h6>
            <h6>{{getDate(demoRequest.dateDelivery)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Date of Installation : </h6>
          <h6>{{getDate(demoRequest.dateInstallation)}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Date of Demo : </h6>
            <h6>{{getDate(demoRequest.dateDemo)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">No of Days for Demo : </h6>
            <h6>{{demoRequest.dateNoDays}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Date of Pickup : </h6>
            <h6>{{getDate(demoRequest.datePickup)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Delivery as per : </h6>
            <h6>{{demoRequest.dateDeliveryAsPer}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Delivery Chargeble : </h6>
            <h6>{{demoRequest.dateDeliveryCharge}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Statutory Detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">PAN No : </h6>
            <h6>{{demoRequest.satPANNo}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">GST No : </h6>
          <h6>{{demoRequest.satGSTNo}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">SEZ : </h6>
            <h6>{{demoRequest.satSEZ}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Bank Details</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">A/c Name : </h6>
            <h6>{{demoRequest.bankAccName}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Address(Optioal) : </h6>
          <h6>{{demoRequest.bankAddress}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Account No. :
            </h6>
            <h6>{{demoRequest.bankAccNo}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">Branch :
            </h6>
            <h6>{{demoRequest.bankBranch}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6  class="label">IFSC Code :
            </h6>
            <h6>{{demoRequest.bankIFSCCode}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Requirement of Installation</span>
          <h6>{{demoRequest.instaRequirement}}</h6>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Consumption</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">No.Employee :
            </h6>
            <h6>{{demoRequest.cnsNoEmp}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">No.of Cups /day : </h6>
          <h6>{{demoRequest.cnsNoCups}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Manpower Requirement</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Applicable :
            </h6>
            <h6>{{demoRequest.manApplicable}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">No.of Manpower : </h6>
          <h6>{{demoRequest.manNoOfManpower}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Terms :
            </h6>
            <h6>{{demoRequest.manTerms}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Rate+Tax App. : </h6>
          <h6>{{demoRequest.manRateTax}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Material Supply detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Delivery : </h6>
            <h6>{{demoRequest.matDelivery}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Billing : </h6>
          <h6>{{demoRequest.matBilling}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Types of Billing : </h6>
            <h6>{{demoRequest.matBillType}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Statutory : </h6>
          <h6>{{demoRequest.matStatutory}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Bill Submission & Compliance</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Type of Bill Preparation : </h6>
            <h6>{{demoRequest.subBillType}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Submission @ : </h6>
          <h6>{{demoRequest.submission}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Method of Submission : </h6>
            <h6>{{demoRequest.subMethod}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Documents to submit : </h6>
          <h6>{{demoRequest.subDocs}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">Due date of bill submission : </h6>
            <h6>{{getDate(demoRequest.subDueDate)}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Out Put Settings</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <h6  class="label">ML : </h6>
            <h6>{{demoRequest.outML}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <h6  class="label">Grammage : </h6>
          <h6>{{demoRequest.outGrammage}}</h6>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Billing Branch</span>
          <h6>{{demoRequest.billBranch}}</h6>
      </ion-col>
      </ion-row>
    </div>



    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Material</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">XTC Coffee Beans</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty</h6>
            <h6>{{demoRequest.detXTCoffeeQty}} : </h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detXTCoffeeUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detXTCoffeeRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Sugar medium</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty : </h6>
            <h6>{{demoRequest.detSugarQty}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detSugarUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detSugarRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Plain Tea Bags</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty : </h6>
            <h6>{{demoRequest.detTeaBagsQty}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detTeaBagsUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detTeaBagsRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Tea Blend</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty : </h6>
            <h6>{{demoRequest.detTeaBlendQty}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detTeaBlendUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detTeaBlendRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Filter Coffee</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty : </h6>
            <h6>{{demoRequest.detFilCoffeeQty}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detFilCoffeeUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detFilCoffeeRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Stirrer</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty : </h6>
            <h6>{{demoRequest.detStirrerQty}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detStirrerUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detStirrerRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Paper Cups (110 ML Printed)</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <h6  class="label">Qty : </h6>
            <h6>{{demoRequest.detPaperCupsQty}}</h6>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <h6  class="label">UOM : </h6>
          <h6>{{demoRequest.detPaperCupsUOM}}</h6>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <h6  class="label">Rate : </h6>
        <h6>{{demoRequest.detPaperCupsRate}}</h6>
      </ion-item>
  </ion-col>
      </ion-row>

    </div>



    </ion-grid>

</ion-content>
