<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Demo Requisition Form</ion-title>
      <!-- <ion-button (click)="addDemoRequest()"  [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid *ngIf="!isLoading">
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Organization</span>
          <ion-item>
            <h6  style="color:#4CAF50;">Client : </h6>
            <h6>{{demoRequest.orgName}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <h6 style="color:#4CAF50;">Client Status : </h6>
            <h6>{{demoRequest.orgStatus}}</h6>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Address of the Organization</span>
          <ion-item>
            <ion-label>{{demoRequest.address}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Location</ion-label>
            <ion-label>{{demoRequest.addLocation}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Pin Code</ion-label>
          <ion-label>{{demoRequest.addPincode}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">State</ion-label>
            <ion-label>{{demoRequest.addState}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>
    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Billing Address of the Organization</span>
          <ion-item>
            <ion-label>{{demoRequest.billAddress}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Location</ion-label>
            <ion-label>{{demoRequest.billLocation}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Pin Code</ion-label>
          <ion-label>{{demoRequest.billPincode}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">State</ion-label>
            <ion-label>{{demoRequest.billState}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Delivery Address with land mark</span>
          <ion-item>
            <ion-label>{{demoRequest.delAddress}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Location</ion-label>
            <ion-label>{{demoRequest.delLocation}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Pin Code</ion-label>
          <ion-label>{{demoRequest.delPincode}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">State</ion-label>
            <ion-label>{{demoRequest.delState}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Contact Details</span>
          <ion-item>
            <ion-label>{{demoRequest.conName}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Mobile No</ion-label>
            <ion-label>{{demoRequest.conMobile}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Land Line</ion-label>
          <ion-label>{{demoRequest.conLandline}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Email</ion-label>
            <ion-label>{{demoRequest.conEmail}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Reference</ion-label>
            <ion-label>{{demoRequest.conRef}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Machine detail</span>
          <ion-item>
            <ion-label>{{demoRequest.mchModel}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">No.of Machine
            </ion-label>
            <ion-label>{{demoRequest.mchNoMachine}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Type</ion-label>
          <ion-label>{{demoRequest.mchType}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Accessories</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Installation/Demo Kit</ion-label>
            <ion-label>{{demoRequest.accInstallation}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Other Accessories</ion-label>
          <ion-label>{{demoRequest.accOther}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Terms of Installation</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Installation
            </ion-label>
            <ion-label>{{demoRequest.installation}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Demo</ion-label>
          <ion-label>{{demoRequest.instDemo}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Rate Per Machine</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Rate
            </ion-label>
            <ion-label>{{demoRequest.rate}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">GST</ion-label>
          <ion-label>{{demoRequest.rategst}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Total Amount
            </ion-label>
            <ion-label>{{demoRequest.rateamount}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Rent</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-label>{{demoRequest.rentTerm}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Rate per month</ion-label>
          <ion-label>{{demoRequest.rentRateMonth}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Deposit</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Applicable
            </ion-label>
            <ion-label>{{demoRequest.depApplicable}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Amount</ion-label>
          <ion-label>{{demoRequest.depAmount}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Payment</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-label>{{demoRequest.payTerms}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Credit Period (days)</ion-label>
          <ion-label>{{demoRequest.payCreditPeriod}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Credit Limit
            </ion-label>
            <ion-label>{{demoRequest.payCreditLimit}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Model</ion-label>
          <ion-label>{{demoRequest.payModel}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Minimum Commitment</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Applicable
            </ion-label>
            <ion-label>{{demoRequest.comApplicable}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Quantity</ion-label>
          <ion-label>{{demoRequest.comQuantity}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-label>{{demoRequest.comTerm}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Date</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Date of Delivery
            </ion-label>
            <ion-label>{{demoRequest.dateDelivery}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Date of Installation</ion-label>
          <ion-label>{{demoRequest.dateInstallation}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Date of Demo
            </ion-label>
            <ion-label>{{demoRequest.dateDemo}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">No of Days for Demo
            </ion-label>
            <ion-label>{{demoRequest.dateNoDays}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Date of Pickup
            </ion-label>
            <ion-label>{{demoRequest.datePickup}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Delivery as per
            </ion-label>
            <ion-label>{{demoRequest.dateDeliveryAsPer}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Delivery Chargeble
            </ion-label>
            <ion-label>{{demoRequest.dateDeliveryCharge}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Statutory Detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">PAN No
            </ion-label>
            <ion-label>{{demoRequest.satPANNo}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">GST No</ion-label>
          <ion-label>{{demoRequest.satGSTNo}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">SEZ
            </ion-label>
            <ion-label>{{demoRequest.satSEZ}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Bank Details</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">A/c Name
            </ion-label>
            <ion-label>{{demoRequest.bankAccName}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Address(Optioal)</ion-label>
          <ion-label>{{demoRequest.bankAddress}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Account No.
            </ion-label>
            <ion-label>{{demoRequest.bankAccNo}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Branch
            </ion-label>
            <ion-label>{{demoRequest.bankBranch}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">IFSC Code
            </ion-label>
            <ion-label>{{demoRequest.bankIFSCCode}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Requirement of Installation</span>
          <ion-label>{{demoRequest.instaRequirement}}</ion-label>
      </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Consumption</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">No.Employee
            </ion-label>
            <ion-label>{{demoRequest.cnsNoEmp}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">No.of Cups /day</ion-label>
          <ion-label>{{demoRequest.cnsNoCups}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Manpower Requirement</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Applicable
            </ion-label>
            <ion-label>{{demoRequest.manApplicable}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">No.of Manpower</ion-label>
          <ion-label>{{demoRequest.manNoOfManpower}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Terms
            </ion-label>
            <ion-label>{{demoRequest.manTerms}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Rate+Tax App.</ion-label>
          <ion-label>{{demoRequest.manRateTax}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Material Supply detail</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Delivery</ion-label>
            <ion-label>{{demoRequest.matDelivery}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Billing</ion-label>
          <ion-label>{{demoRequest.matBilling}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Types of Billing</ion-label>
            <ion-label>{{demoRequest.matBillType}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Statutory</ion-label>
          <ion-label>{{demoRequest.matStatutory}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Bill Submission & Compliance</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Type of Bill Preparation</ion-label>
            <ion-label>{{demoRequest.subBillType}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Submission @</ion-label>
          <ion-label>{{demoRequest.submission}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Method of Submission</ion-label>
            <ion-label>{{demoRequest.subMethod}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Documents to submit</ion-label>
          <ion-label>{{demoRequest.subDocs}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Due date of bill submission</ion-label>
            <ion-label>{{demoRequest.subDueDate}}</ion-label>
          </ion-item>
      </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Out Put Settings</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">ML</ion-label>
            <ion-label>{{demoRequest.outML}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">Grammage</ion-label>
          <ion-label>{{demoRequest.outGrammage}}</ion-label>
        </ion-item>
    </ion-col>
      </ion-row>
    </div>


    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Billing Branch</span>
          <ion-label>{{demoRequest.billBranch}}</ion-label>
      </ion-col>
      </ion-row>
    </div>



    <div class="section">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Details of Material</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">XTC Coffee Beans</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detXTCoffeeQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detXTCoffeeUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detXTCoffeeRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Sugar medium</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detSugarQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detSugarUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detSugarRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Plain Tea Bags</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detTeaBagsQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detTeaBagsUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detTeaBagsRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Tea Blend</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detTeaBlendQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detTeaBlendUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detTeaBlendRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Filter Coffee</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detFilCoffeeQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detFilCoffeeUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detFilCoffeeRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Stirrer</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detStirrerQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detStirrerUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detStirrerRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <span style="font-size:13px">Paper Cups (110 ML Printed)</span>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <ion-item>
            <ion-label position="floating" class="label">Qty</ion-label>
            <ion-label>{{demoRequest.detPaperCupsQty}}</ion-label>
          </ion-item>
      </ion-col>
      <ion-col size-sm="2" offset-sm="3">
        <ion-item>
          <ion-label position="floating" class="label">UOM</ion-label>
          <ion-label>{{demoRequest.detPaperCupsUOM}}</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size-sm="2" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Rate</ion-label>
        <ion-label>{{demoRequest.detPaperCupsRate}}</ion-label>
      </ion-item>
  </ion-col>
      </ion-row>

    </div>



    </ion-grid>

</ion-content>
