<ion-app>
  <!-- <ion-menu side="start">
    <ion-header>
      <ion-toolbar >
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/icon/xtclogo.png">
          </ion-thumbnail>
          <ion-label>Welcome, {{userName|titlecase}}</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home" button>
            <ion-icon name="home" slot="start" color="primary"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        <ion-item lines="none" routerLink="/clients" button>
          <ion-icon name="people" slot="start"  color="primary"></ion-icon>
          <ion-label>Clients</ion-label>
        </ion-item>
        <ion-item lines="none"  routerLink="/salespipeline"  button>
          <ion-icon name="analytics" slot="start" color="primary"></ion-icon>
          <ion-label>Sales Pipeline</ion-label>
        </ion-item>
        <ion-item lines="none"  routerLink="/settings"  button>
          <ion-icon name="build" slot="start" color="primary"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item lines="none"  routerLink="/about"  button>
          <ion-icon name="glasses" slot="start" color="primary"></ion-icon>
          <ion-label>About</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="onLogout()"  button>
          <ion-icon name="exit" slot="start"  color="primary"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu> -->


<ion-menu>
  <ion-content>
<div class="menu-header-bg"> </div>
<div class="header-content">
  <img src="../../assets/icon/xtclogob.png">
<ion-label>
  <h2>Welcome, {{userName|titlecase}}</h2>
</ion-label>
</div>
<ion-list>
  <ion-menu-toggle>
    <ion-item lines="none" routerLink="/home" button>
      <ion-icon name="home" slot="start" color="primary"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-item>
  <ion-item lines="none" routerLink="/clients" button>
    <ion-icon name="people" slot="start"  color="primary"></ion-icon>
    <ion-label>Clients</ion-label>
  </ion-item>
  <ion-item lines="none"  routerLink="/salespipeline"  button>
    <ion-icon name="analytics" slot="start" color="primary"></ion-icon>
    <ion-label>Sales Pipeline</ion-label>
  </ion-item>
  <ion-item lines="none"  routerLink="/salespipeline/demorequests"  button>
    <ion-icon name="walk-outline" slot="start" color="primary"></ion-icon>
    <ion-label>Demo Request</ion-label>
  </ion-item>
  <ion-item *ngIf="this.isadmin" lines="none"  button>
    <ion-icon name="build" slot="start" color="primary"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-item>
  <ion-item *ngIf="this.isadmin" lines="none"  routerLink="/settings"  button style="margin-left: 20px;">
    <ion-icon name="remove-circle-outline" slot="start" color="primary"></ion-icon>
    <ion-label>Client Access</ion-label>
  </ion-item>
  <ion-item lines="none"  routerLink="/about"  button>
    <ion-icon name="glasses" slot="start" color="primary"></ion-icon>
    <ion-label>About</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="onLogout()"  button>
    <ion-icon name="exit" slot="start"  color="primary"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>
</ion-menu-toggle>
</ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet main></ion-router-outlet>
</ion-app>
