<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Billing Rates</ion-title>
      <ion-button (click)="addBillingDetail()" [disabled]="!isLoading && !form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="form"  *ngIf="!isLoading">
<ion-grid>
<ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" >Billing Name <span style="color: #FF6347;">*</span></ion-label>
        <ion-input type="text" formControlName="billName"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item class="item-readonly">
      <ion-label position="floating" >Billing Address <span style="color: #FF6347;">*</span></ion-label>
      <ion-textarea  Readonly rows="3" formControlName="billAddress"></ion-textarea>
    </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item class="item-readonly">
      <ion-label position="floating" >Client Location<span style="color: #FF6347;">*</span></ion-label>
      <ion-input   Readonly type="text" formControlName="location"></ion-input>
    </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating" >Pincode<span style="color: #FF6347;">*</span></ion-label>
      <ion-input type="number" formControlName="pincode"></ion-input>
    </ion-item>
</ion-col>
</ion-row>



<ion-row>
  <ion-col>
    <ion-item class="item-readonly">
      <ion-label position="floating" >Installation At (Client Name)<span style="color: #FF6347;">*</span></ion-label>
      <ion-input  Readonly type="text" formControlName="installAt" ></ion-input>
    </ion-item>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-item class="item-readonly">
      <ion-label position="floating" >Installation Address<span style="color: #FF6347;">*</span></ion-label>
      <ion-textarea   Readonly  rows="3" formControlName="installAddress"></ion-textarea>
    </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating" >GST No.<span style="color: #FF6347;">*</span></ion-label>
      <ion-input type="text" formControlName="gstno"></ion-input>
    </ion-item>
</ion-col>
</ion-row>


<ion-row>
  <ion-col size="12">
    <ion-item>
      <ion-label position="floating" class="label">Tax Type
      </ion-label>
      <ion-select placeholder="Select One"  interface="popover" formControlName="taxType">
        <ion-select-option [value]="CGSTSGST">CGST/SGST</ion-select-option>
          <ion-select-option [value]="IGST">IGST
        </ion-select-option>
        </ion-select>
    </ion-item>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <ion-label position="floating" class="label">Bank
        </ion-label>
        <ion-select placeholder="Select One" interface="popover" formControlName="bank">
          <ion-select-option *ngFor="let bank of banks" [value]="bank.name">{{bank.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>




<div class="section">
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <span style="font-size:13px">Details of Material</span>
    </ion-col>
  </ion-row>
  <div *ngFor="let item of form.get('materialDetails')['controls']; let i = index;"
    formArrayName="materialDetails">
    <div [formGroupName]="i">
      <ion-row>
        <ion-col size="10">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" class="label">Material
                </ion-label>
                <ion-select placeholder="Select One"  interface="popover" formControlName="category" (ionChange)="onMaterialChange($event,form.get('materialDetails')['controls'][i],i)">
                  <ion-select-option *ngFor="let stock of stockCategory" [value]="stock">{{stock}}
                  </ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-col>
            <ion-col  size="12">
              <ion-item>
                <ion-label position="floating" class="label">Type
                </ion-label>
                <ion-select placeholder="Select One"  interface="popover" formControlName="item" (ionChange)="onMaterialTypeChange($event,form.get('materialDetails')['controls'][i])">
                  <ion-select-option *ngFor="let stock of this.materialstockType[i].stockType" [value]="stock">{{stock}}
                  </ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item color="success">
                <ion-label position="floating" class="label"  style="color: #fff;">UOM
                </ion-label>
                <ion-input type="text" autocomplete autocorrect formControlName="uom" readonly></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item  color="success">
                <ion-label position="floating" class="label"  style="color: #fff;">HSNCode
                </ion-label>
                <ion-input type="text" autocomplete autocorrect formControlName="hsnNo" readonly></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item  color="success">
                <ion-label position="floating" class="label" style="color: #fff;">GST
                </ion-label>
                <ion-input type="text" autocomplete autocorrect formControlName="gst"
                [value]="item.get('gst').value"
                readonly></ion-input>
              </ion-item>
            </ion-col>
            <ion-col  size="12">
              <ion-item>
                <ion-label position="floating" class="label">Price
                </ion-label>
                <ion-input type="number" autocomplete autocorrect formControlName="price"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <div style="height: 95%; border-left:2px solid #FF69B4;">
            <ion-button size="small" class=" button-assertive button-clear" style="margin-top: 75px;"
              (click)="deleteMaterial(i)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-button size="small" (click)="addMaterial()">
        <ion-icon name="add-circle"></ion-icon> Add Material
      </ion-button>
    </ion-col>
  </ion-row>
</div>





</ion-grid>
</form>
</ion-content>
