<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-button>
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-button>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>DC</ion-title>
      <ion-button [style.visibility]="longPressActive ? 'visible' : 'hidden'" (click)="cancelSelection()">
        <ion-icon name="contract-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button [style.visibility]="longPressActive ? 'visible' : 'hidden'" (click)="generateInvoice()">
        <ion-icon name="newspaper-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Clients/Pending/Used/Deleted" #searchElement  (ionChange)="onFilterUpdate($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-grid>
  <ion-row>
    <ion-col>
      <div *ngIf="isLoading" class="ion-text-center">
        <ion-spinner color="primary" ></ion-spinner>
      </div>
    </ion-col>
    <div *ngIf="!isLoading && filterdcDetail.length<=0" class="ion-text-center">
      <p>Data not found! please create one first!</p>
    </div>
  </ion-row>
  <ion-row>
    <ion-col>
    <ion-card  *ngFor="let req of filterdcDetail ; let i = index">
      <!-- <ion-item  [routerLink]="['/','salespipeline','deliverychallan',req.salesId,req.locationId,req.id]"> -->
        <ion-item [ngClass]="(!req.isUsed && !req.isDelete) ?'active-card':'deactive-card'">
        <div style="width: 10%;">
          <ion-checkbox  [(ngModel)]="req.isSelected" slot="start"
          [style.visibility]="!req.isUsed ? 'visible' : 'hidden'"
          style="margin-top:-40px!important;"></ion-checkbox>
        </div>
        <div style="width: 90%;">
        <ion-label style="margin-top:20px!important;"> {{req.billName}}</ion-label>
         <h6><b>Location: </b>{{req.location}}</h6>
         <h6><b>Date: </b><ion-icon name="time-outline" size="small"></ion-icon><a style="color: #000"> {{req.date | date}}</a></h6>
         <h6><b>ID: </b>{{req.srNo}}</h6>
         <div style="text-align: right;">
          <ion-button color="warning" (click)="navigateToDetail(req)">Detail</ion-button>
          <ion-button color="warning" (click)="viewPdf(req)">Pdf</ion-button>
          <ion-button color="light" [style.visibility]="(!req.isUsed && !req.isDelete) ? 'visible' : 'hidden'" (click)="deleteDC(req)">
            <ion-icon  color="primary" name="trash" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button color="light" [style.visibility]="(!req.isDelete) ? 'hidden' : 'visible'">
            <ion-icon  color="danger" name="close-circle-outline" slot="icon-only" size="large"></ion-icon>
          </ion-button>
        </div>

        </div>









      </ion-item>
    </ion-card>
  </ion-col>
  </ion-row>




</ion-grid>
</ion-content>
