<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-back-button defaultHref='/salespipeline'>
      </ion-back-button>
      <ion-title>Edit Invoice</ion-title>
      <ion-button  (click)="editInvoice()" [disabled]="!isLoading && !form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form"  *ngIf="!isLoading">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item color="success">
          <ion-input type="text" formControlName="month" ReadOnly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Invoice Date <span style="color: #FF6347;">*</span></ion-label>
          <ion-datetime disabled
          formControlName="createdOn"
          display-format="MMM DD YYYY"
          picker-format="YY MMM DD"
          ></ion-datetime>
        </ion-item>



        <ion-item>
              <ion-label position="floating">PO Number<span style="color: #FF6347;"></span></ion-label>
              <ion-input type="text" formControlName="ponumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Transport Charges <span style="color: #FF6347;">*</span></ion-label>
          <ion-input type="number" formControlName="tranCharges"></ion-input>
        </ion-item>

            <ion-item>
              <ion-label position="floating">Billing Name<span style="color: #FF6347;"></span></ion-label>
              <ion-input type="text" formControlName="billName"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label position="floating" class="label"> Billing From Branch
                  </ion-label>
                  <ion-select placeholder="Select One" interface="popover" formControlName="billbranch">
                    <ion-select-option *ngFor="let branch of branches" [value]="branch.name">{{branch.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating" class="label">Tax Type
                  </ion-label>
                  <ion-select placeholder="Select One"  interface="popover" formControlName="taxType">
                    <ion-select-option [value]="CGSTSGST">CGST/SGST</ion-select-option>
                      <ion-select-option [value]="IGST">IGST
                    </ion-select-option>
                    </ion-select>
                </ion-item>
              </ion-col>
              </ion-row>

            <ion-item>
              <ion-label position="floating">Billing Address<span style="color: #FF6347;"></span></ion-label>
              <ion-textarea rows="4" type="text" formControlName="billAddress"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Installation At (Client Name)<span style="color: #FF6347;"></span></ion-label>
              <ion-input type="text" formControlName="installAt"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Installation Address<span style="color: #FF6347;"></span></ion-label>
              <ion-textarea rows="4" type="text" formControlName="installAddress"></ion-textarea>
            </ion-item>
            <ion-item style="display: none;">
              <ion-label position="floating">Rent<span style="color: #FF6347;"></span></ion-label>
              <ion-input type="text" formControlName="rent"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Invoice Amount:{{invoice.totamount| currency:"INR":"symbol"}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating" >Invoice Status <span style="color: #FF6347;">*</span></ion-label>
              <ion-select placeholder="Select One"  interface="popover" formControlName="status">
                <ion-select-option value='Created'>Pending</ion-select-option>
                <ion-select-option value='Pending'>Partial Payment Received</ion-select-option>
                <ion-select-option value='Closed'>Full Payment Received</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating" >Received Invoice Amount <span style="color: #FF6347;">*</span></ion-label>
              <ion-input type="number" formControlName="recAmount"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
  </ion-grid>
  </form>
</ion-content>
