.list-group {
  padding-left: 0;
  margin: 0px;
  width: 100%;
  // margin-bottom: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

span.list-group-item {
    color: #555;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;

}
#contact_ul{
  list-style: none;
  -webkit-padding-start: 0px;
  }

  #li_phone ion-icon{
  font-size: 1.0em;
  vertical-align: middle;
  margin-right: 10px;
  padding-top: 9px;
  }
  #li_email ion-icon{
  font-size: 1.0em;
  vertical-align: middle;
  margin-right: 10px;
  padding-top: 1px;
  }
