<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-button>
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-button>
      <ion-back-button defaultHref="/salespipeline">
      </ion-back-button>
      <ion-title>Invoice List</ion-title>
      <ion-button  (click)="downloadXL()">
        <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="invoiceSelect()">
        <ion-icon name="contract-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Filter Clients / Invoice month" #searchElement  (ionChange)="onFilterUpdate($event)"></ion-searchbar>
    <ion-item color="success">
     <span>Amount: ₹{{invoiceAmount |  number:'1.0':'en-US'  }}</span> ||
     <span>Tax: ₹{{invoiceTax |  number:'1.0':'en-US'  }}</span> ||
     <span> Total: ₹{{invoiceTotal |  number:'1.0':'en-US'  }} </span>  ||
     <span> Count: {{ invoiceCount}} </span>

    </ion-item>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary" ></ion-spinner>
        </div>
      </ion-col>
      <div *ngIf="!isLoading && invoicelist.length<=0" class="ion-text-center">
        <p>Data not found! please create one first!</p>
      </div>
        </ion-row>

        <ion-row>
          <ion-col>
          <ion-card  *ngFor="let inv of filterinvoicelist ; let i = index">
          <ion-item>
            <div style="width: 10%;">
              <ion-checkbox style="margin-top:-40px!important;" (ionChange)="chkInvoiceChange($event,inv)" [(ngModel)]="inv.isChecked"></ion-checkbox>
            </div>
            <div style="width: 90%;">
              <ion-label style="margin-top:20px!important;"> {{inv.clientName}}</ion-label>
               <h6><b>Location: </b>{{inv.clientLocation}}</h6>
               <h6><b>Month: </b><ion-icon name="time-outline" size="small"></ion-icon><a style="color: #000"> {{inv.displaymonth}}</a></h6>
               <h6><b>Amount: </b><a style="color: #000"> {{inv.amount+inv.tax| currency:"INR":"symbol"}}</a></h6>
               <h6><b>ID: </b>{{inv.srNo}}</h6>
               <h6><b>Status: </b><a style="color: #000"> {{inv.status=="Creted"}}</a></h6>
               <div [style.visibility]="inv.machines==null ? 'hidden' : 'visible'">
                <ion-button color="warning" (click)="consumableInvoice(inv)">Consumables</ion-button>
                <!-- <ion-button color="warning" (click)="rentalinvoice(inv)">Rental</ion-button> -->
              </div>
              <div [style.visibility]="inv.machines!=null ? 'hidden' : 'visible'">
                <ion-button color="warning" (click)="installationInvoice(inv)">Installation</ion-button>
              </div>
          <div style="text-align: right;padding: 0px;">
            <ion-button color="light" (click)="editInvoice(inv)">
              <ion-icon  color="primary" name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="light">
              <ion-icon  color="primary" name="trash" slot="icon-only" ></ion-icon>
            </ion-button>
          </div>
        </div>
          </ion-item>
            </ion-card>
            </ion-col>
            </ion-row>

        </ion-grid>

</ion-content>
