<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons>
      <ion-button>
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-button>
      <ion-icon name="analytics" slot="end"></ion-icon>
      <ion-title>Sales Pipeline</ion-title>
      <ion-buttons slot="primary">
        <ion-button [routerLink]="['/','salespipeline','new']">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment color="secondary" (ionChange)="onFilterUpdate($event)" value="0" #segmentButton>
    <ion-segment-button value="0" layout="icon-end">
      <ion-label>Salespipeline</ion-label>
      <ion-icon name="analytics"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="1" layout="icon-end">
      <ion-label>Win</ion-label>
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2" layout="icon-end">
      <ion-label>Loss</ion-label>
      <ion-icon name="thumbs-down-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary" ></ion-spinner>
        </div>
        <!-- <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"
        [(ngModel)]="searchTerm"
        (ionChange)="filterClient()"
        ></ion-searchbar> -->

        <div *ngIf="!isLoading && relevantClientSales.length<=0" class="ion-text-center">
          <p>Data not found! please create one first!</p>
          <ion-button color="primary" routerLink="/salespipeline/new">Add Entry</ion-button>
        </div>
        <ion-list *ngIf="!isLoading && relevantClientSales.length>0">
          <ion-item-sliding *ngFor="let sales of relevantClientSales ; let i = index" #slidingClients>
          <ion-item [ngClass]="i%2==0?'even':'odd'" detail  [routerLink]="['/','salespipeline','detail',sales.clientsale.id]" >
           <div>
            <div>
              <div class="container">
                <div class="image">
                  <ion-icon name="file-tray-stacked" style="font-size: 35px;padding-top: 5px;color: #664500 !important;"></ion-icon>
                </div>
                <div class="text">
                  {{sales.clientsale.client}}
                </div>
              </div>
            </div>
             <h6>Region: {{sales.client.region}}</h6>
             <h6>Machine Count: {{sales.clientsale.machineCount}}</h6>
             <h6>Potential Billing : {{sales.clientsale.amount*12 | currency:"INR":"symbol"}}</h6>
             <h6>Billng for the Year : {{sales.clientsale.billingAmount | currency:"INR":"symbol"}}</h6>
             <h6 text-wrap>Comment: {{sales.clientsale.comment}}</h6>
              <div *ngFor="let location of sales.clientsale.locations">
                  <h6 style="text-decoration: underline;">
                    <ion-icon name="location" style="font-size:20px;padding-right: 5px;"></ion-icon><b>Location:</b> {{location.city}}</h6>
                  <h6 style="text-decoration: underline;">
                    <ion-icon name="calendar" style="font-size:20px;padding-right: 5px;"></ion-icon>
                    <b>Closure Date: </b> {{convertTimestampToDate(location.closureDate)}}</h6>
                  <h6 style="text-decoration: underline;">
                    <ion-icon name="receipt" style="font-size:20px;padding-right: 5px;"></ion-icon>
                    <b>Status:</b> {{location.currentStatus}}</h6>
              </div>
           </div>
           <hr/>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="secondary">
              <ion-icon name="create" slot="icon-only"  [routerLink]="['/','salespipeline','edit',sales.clientsale.id]"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger"  (click)="onDeleteSalespipeline(sales.clientsale.id,sales.clientsale.clientId,slidingClients)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
